.row{
  padding: 40px;
  color: #BDBDBD;
}
div{
  background-color: #00796B;
  text-align: center;
}
#fotodeperfil{
  width: 100%;
  border-radius: 100%;
 box-shadow: 3px 3px 3px grey;
}
/*imagen*/
@media  (min-width: 800px){
  #fotodeperfil{
    position: absolute;
    top: 400px;
    left: 11%;
    width: 200px;
    height: auto;
  }
}
@media(max-width:800px){
  #fotodeperfil{
  position: absolute;
  top: 400px;
  left: 20%;
  width: 200px;
  height: auto;
  }
  #presentacion{
    text-align: center;
    top: 500px;
  }
  .row{
    padding-top: 150px;
  }
}

#nombre{
  font-weight: bold;
  margin-top: 30%;
}

  @media(max-width:570px){
    .row{
      padding-top: 30px;
    }
    #fotodeperfil{
      position: static;
    width: 200px;
    height: auto;
    }
    #presentacion{
      text-align: center;
      top: 50px;
    }
    #nombre{
      font-weight: bold;
      margin-top: 30px;
    }

}
/*etiqueta nombre*/
#nombre{
  font-weight: bold;
  margin-top: 30%;
}
#presentacion{
  text-align: center;
  left: 10%;
  top: 100%;
}
