
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contenedor_imagi">
    <img src="../../../assets/foco_porfolio.png" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p id="nombre">Roman Dario Esquivel</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="presentacion">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure distinctio nam explicabo nemo corporis. Dolore aperiam eligendi tempore natus eius voluptatem delectus odio dolorem doloremque quasi ipsam totam, esse fugit?
      </p>
    </span>
  </div>
</div>
