<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="form">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group mb-4">
            <label for="puesto">Nombre de puesto</label>
            <input
              type="text"
              class="form-control"
              id="puesto"
              name="puesto"
              [(ngModel)]="expLab.puesto"
              required
            />
          </div>
          <div class="form-group mb-4">
            <label for="Empresa">Nombre de la empresa</label>
            <input
              type="text"
              class="form-control"
              id="Empresa"
              name="Empresa"
              [(ngModel)]="expLab.empresa"
              required
            />
          </div>

          <div class="form-group mb-4">
            <label for="logoimg">img</label>
            <input
              type="file"
              class="form-control"
              id="logoimg"
              name="logoimg"
              [(ngModel)]="expLab.logo"
              (change)="uploadImage($event)"
              accept=".jpg, .jpeg, .png"
            />
          </div>
          <div class="form-group mb-4">
            <label for="descripcionEx">Descripcion de sus estudios</label>
            <input
              type="text"
              class="form-control"
              id="descripcionEx"
              name="descripcionEx"
              [(ngModel)]="expLab.descripcion"
              required
            />
          </div>
          <div class="fechaInicio">
            <label for="fechaInicio">fecha de Inicio</label>

            <input
              type="date"
              id="fecha_inicio"
              name="fecha_inicio"
              value="2018-07-22"
              min="2000-01-01"
              max="2023-12-31"
              [(ngModel)]="expLab.fecha_inicio"
            />
            <div class="form-group mb-4">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="formSwitchChecked"
                  value="1"
                  [(ngModel)]="aux_actualmente"
                  checked
                />
                <label class="form-check-label" for="formSwitchChecked"
                  >actualmente</label
                >
              </div>
            </div>

            <div class="fechaFin" *ngIf="!aux_actualmente">
              <label for="fechaFin">fecha de finalizacion</label>

              <input
                type="date"
                id="fechaFin"
                name="fechaFin"
                value="2018-07-22"
                min="2000-01-01"
                max="2023-12-31"
                [(ngModel)]="expLab.fecha_fin"
              />
            </div>
          </div>
          <div class="imagen mb-4 imagen_muestra" >
            <p>imagen que tiene</p>
            <img src= {{expLab.logo}} width="200px" *ngIf="expLab.logo != 'vacio'" />
          </div>
          <div class="imagen mb-4 imagen_muestra">
            <P>AQUI APARECERA SU IMAGEN UNA VEZ CARGADA </P>
            <img
              [src]="imageService.url"
              width="200px"
              *ngIf="imageService.url != null"
            />
          </div>
          <button class="btn btn-primary">Agregar educacion</button>
        </form>
      </div>
    </div>
  </div>
</div>
