<div class="row">
  <h1>experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul>
      <li>
        <h2>trabajo 1</h2> - <h3>(years)</h3>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet debitis similique nostrum iste incidunt cum? Iste asperiores, quia blanditiis expedita pariatur qui provident ratione illo natus repellendus fugit, impedit temporibus.
      </p>
    </li>
    <li>
        <h2>trabajo 2</h2> - <h3>(years)</h3>   <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet debitis similique nostrum iste incidunt cum? Iste asperiores, quia blanditiis expedita pariatur qui provident ratione illo natus repellendus fugit, impedit temporibus.
      </p>
    </li>
    <li>
        <h2>trabajo 3</h2> - <h3>(years)</h3>   <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet debitis similique nostrum iste incidunt cum? Iste asperiores, quia blanditiis expedita pariatur qui provident ratione illo natus repellendus fugit, impedit temporibus.
      </p>
    </li>

    </ul>
  </div>
  <div class="col-lg-1"></div>
</div>
