<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-secondary"
      routerLink="/newexp"
      *ngIf="isLogged"
    >
      Nueva Experiencia
    </button>
  </div>

  <div id="expe" *ngFor="let Experiencia of expe">
    <div id="botones" *ngIf="isLogged">
      <div>
        <button class="btn btn-light" routerLink="/editexp/{{ Experiencia.id }}">
          <i class="bi bi-pencil-fill"></i> EDITAR
        </button>
      </div>
      <div>
        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
          <i class="bi bi-trash-fill"></i> BORRAR
        </button>
      </div>
    </div>
    <div class="espaci" id="experiencia">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="fechas">
        <h5 id="actualmente" *ngIf="Experiencia.actualmente == 1">
          {{ Experiencia.fecha_inicio }} - Actualmente
        </h5>
        <h5 id="fecha_fin" *ngIf="Experiencia.actualmente == 0">
          {{ Experiencia.fecha_inicio }} - {{ Experiencia.fecha_fin }}
        </h5>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="parte">
        <h2 id="puesto">{{ Experiencia.puesto }}</h2>
        <div id="emp_logo">
          <img src="{{ Experiencia.logo }}" id="logo" />
          <h2 id="empresa">{{ Experiencia.empresa }}</h2>
        </div>
        <p id="descripcion">{{ Experiencia.descripcion }}</p>
      </div>
    </div>
  </div>
</div>
