.fondo{
  height: 200vh;
  background-color: #00796B;

}
.row{
  padding: 20px;
  color: #BDBDBD;
}
.form-group{
  max-width: 700px;

}
.form{
  margin-top: 25%;
}

#imagen_muestra{
  padding: 10px;
}

@media  (min-width: 800px){
.form{
  padding-left: 25%;
}
.form-group{
  max-width: 80%;
}

}
