.row{
  padding: 40px;
  color: #263226;
}
div{
  background-color: #00796B;
  text-align: center;
}
/*foto de perfil*/
#fotodeperfil{
  width: 100%;
  border-radius: 100%;
 box-shadow: 3px 3px 3px #bdbdbd;
}
/*presentacion*/
#presentacion{
  color: white;
  /*border-style: solid;s*/
  border-radius: 30px;
  padding-top: 3%;
  background-color: rgba(0, 0, 0, 0.26);
 /*opacity: 0.3;*/
  text-align: center;
  left: 10%;
  top: 100%;

}
/*etiqueta nombre*/
#nombre{
  font-family: 'Orbitron', sans-serif;
  font-size: 200%;
  margin-top: 20%;
  font-weight: bold;
  margin-top: 30%;
}
#senioriti{
  font-size: 150%;
}

/*imagen*/
@media  (min-width: 800px){
  #fotodeperfil{
    position: absolute;
    top: 400px;
    left: 11%;
    width: 200px;
    height: auto;
  }
}
@media(max-width:800px){
  #fotodeperfil{
  position: absolute;
  top: 400px;
  left: 20%;
  width: 200px;
  height: auto;
  }
  #presentacion{
    text-align: center;
    top: 500px;
  }
  .row{
    padding-top: 150px;
  }

}
  @media(max-width:570px){
    .row{
      padding-top: 30px;
    }
    #fotodeperfil{
      position: static;
      width: 200px;
    height: auto;
    }
    #presentacion{
      text-align: left;
      top: 50px;
    }
    #nombre{
      font-weight: bold;
      margin-top: 30px;
    }

}
