<div class="fondo">
  <div class="container" *ngIf="persona">
    <div class="row">
      <div class="form">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group mb-4">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="persona.nombre"
              required
            />
          </div>
          <div class="form-group mb-4">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              [(ngModel)]="persona.apellido"
              required
            />
          </div>
          <div class="form-group mb-4">
            <label for="descripcion">descripcion</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="persona.descripcion"
              required
            />
          </div>
          <p id="mensaje">
            CARGAR DE A UNA LAS IMAGENES AMEDIDA QUE SE MUESTREN
          </p>
          <div class="form-group mb-4">
            <label for="img">Imagen de perfil</label>
            <input
              type="file"
              class="form-control"
              id="img"
              name="img"
              [(ngModel)]="persona.imgperfil"
              (change)="uploadImagePerfil($event)"
              accept=".jpg, .jpeg, .png"
            />
          </div>
          <div class="form-group mb-4">
            <label for="img">Imagen de banner</label>
            <input
              type="file"
              class="form-control"
              id="img"
              name="img"
              [(ngModel)]="persona.imgbanner"
              (change)="uploadImagebanner($event)"
              accept=".jpg, .jpeg, .png"
            />
          </div>

          <div class="imagen mb-4 imagen_muestra">
            <p>Imagen que tiene perfil</p>
            <img
              src="{{ persona.imgperfil }}"
              width="200px"
              *ngIf="persona.imgperfil != 'vacio'"
            />
          </div>
          <div class="imagen mb-4 imagen_muestra">
            <p>Imagen que tiene banner</p>
            <img
              src="{{ persona.imgbanner }}"
              width="800px"
              height="auto"
              *ngIf="persona.imgbanner != 'vacio'"
            />
          </div>
          <div class="imagen mb-4" id="imagen_perfil">
            <P>AQUI APARECERA SU IMAGEN DE PERFIL UNA VEZ CARGADA </P>
            <div
            class="spinner-border loading"
            style="width: 3rem; height: 3rem"
            role="status"
            *ngIf="
              imageService.loading == true &&
              imageService.auxperfil == null &&
              name == 'perfil_1'
            "
          >
            <span class="sr-only"></span>
          </div>
            <img [src]="imageService.auxperfil" width="200px" />
          </div>
          <div class="imagen mb-4" id="imagen_barner">
            <P>AQUI APARECERA SU IMAGEN DE BARNER UNA VEZ CARGADA </P>
            <img [src]="imageService.auxbanner" width="800px" height="auto" />

            <div
              class="spinner-border loading"
              style="width: 3rem; height: 3rem"
              role="status"
              *ngIf="
                imageService.loading == true &&
                imageService.auxbanner == null &&
                name == 'banner_1'
              "
            >
              <span class="sr-only"></span>
            </div>
          </div>
          <button class="btn btn-primary">Editar Persona</button>
        </form>
      </div>
    </div>
  </div>
</div>
