<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/Logos_proyecto/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
        <a href=""><img src="../../../assets/Logos_proyecto/twitter.png" alt=""></a>
        <a href=""><img src="../../../assets/Logos_proyecto/instagram.png" alt=""></a>
        <a href=""><img src="../../../assets/Logos_proyecto/github.png" alt=""></a>
        <a href=""><img src="../../../assets/Logos_proyecto/linkedin.png" alt=""></a>
        <button type="button" class="btn btn-outline-light">ingreso</button>
    </div>
  </div>
</div>

