<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/Logos_proyecto/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
      <a href="https://www.linkedin.com/in/roman-dario-esquivel/" target="_blank"><img src="../../../assets/Logos_proyecto/linkedin.png" id="linkedin"></a>
      <a href="https://twitter.com/RomanDarioEsqu1" target="_blank"><img src="../../../assets/Logos_proyecto/twitter.png" id="twitter"></a>
      <a href="https://www.instagram.com/esquivelromandario/" target="_blank"><img src="../../../assets/Logos_proyecto/instagram.png" id="instagram"></a>
      <a href="https://github.com/Roman-Dario-Esquivel" target="_blank"><img src="../../../assets/Logos_proyecto/github.png" id="github"></a>
      <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
  </div>
</div>

