<div class="row">
  <h1>Hard & Soft skills</h1>

 <div class="col-sm-4 col-md-4 col-lg-4">
   <circle-progress
      [percent]="80"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#beee3b'"
      [innerStrokeColor]="'#006465'"
      [animation]="true"
      [animationDuration]="700"
      [responsive]="true"
      [backgroundColor]="'#ffffff'"
   ></circle-progress>
 </div>

 <div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
     [percent]="80"
     [radius]="80"
     [outerStrokeWidth]="10"
     [innerStrokeWidth]="5"
     [outerStrokeColor]="'#beee3b'"
     [innerStrokeColor]="'#006465'"
     [animation]="true"
     [animationDuration]="700"
     [responsive]="true"
     [backgroundColor]="'#ffffff'"
  ></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
     [percent]="80"
     [radius]="80"
     [outerStrokeWidth]="10"
     [innerStrokeWidth]="5"
     [outerStrokeColor]="'#beee3b'"
     [innerStrokeColor]="'#006465'"
     [animation]="true"
     [animationDuration]="700"
     [responsive]="true"
     [backgroundColor]="'#ffffff'"
  ></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
     [percent]="80"
     [radius]="80"
     [outerStrokeWidth]="10"
     [innerStrokeWidth]="5"
     [outerStrokeColor]="'#beee3b'"
     [innerStrokeColor]="'#006465'"
     [animation]="true"
     [animationDuration]="700"
     [responsive]="true"
     [backgroundColor]="'#ffffff'"
  ></circle-progress>
</div>

</div>
