<div class="row">
  <h1>Proyectos</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-secondary"
      routerLink="/newproyec"
      *ngIf="isLogged"
    >
      Agregar
    </button>
  </div>

  <div class="col lg 2"></div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div *ngFor="let Proyectos of proyectos">
      <div id="botones" *ngIf="isLogged">
        <div>
          <button
            class="btn btn-light"
            routerLink="/editproyec/{{ Proyectos.id }}"
          >
            <i class="bi bi-pencil-fill"></i> EDITAR
          </button>
        </div>
        <div>
          <button class="btn btn-danger" (click)="delete(Proyectos.id)">
            <i class="bi bi-trash-fill"></i> BORRAR
          </button>
        </div>
      </div>

      <div id="proyecto">
        <span>
          <h1>{{ Proyectos.nombreProyecto }}</h1>
          <p class="textolargo">
            {{ Proyectos.descripcionProyecto }}
          </p>
          <p class="textolargo">
            Enlace al repositorio del proyecto: {{ Proyectos.enlaceProyecto }}
          </p>
          <img
            [src]="Proyectos.imgProyecto"
            width="200px"
            *ngIf="Proyectos.imgProyecto != 'vacio'"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="col lg 2"></div>
</div>
