.row{
  padding: 20px;
  color: #BDBDBD;
}
div{
  background-color: #00796B;

}

h2,h3{
  display: inline;
}
#botones{
  display: flex;
  justify-content: space-around;
}
.textolargo{
    word-wrap: break-word;

}
#proyecto{
  color: white;
  /*border-style: solid;s*/
  border-radius: 30px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.26);
 /*opacity: 0.3;*/
  text-align: center;
  left: 10%;
  top: 100%;
  margin:25px;

}

@media  (min-width: 800px){
  .textolargo{
    overflow-wrap: break-word;

}
  }
